body {
background-color:seashell;
}


.logo {
  height:100px;
  width: 100px;
}

.nav-logo {
  margin-left: 20px;
  margin-right:20px;
}

.color-nav {
  background-color: #6EBE4A !important;;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
}

.headNav {
  color: aliceblue;
  margin-left:20px;
}

#custom-btn {
  background: #00BCEB;
  color: #005072;
  border: 2px solid #005072;
  border-radius: 3px;
  padding: 5px 10px;
  text-transform: uppercase;
}

.home_h1 {
  text-align: center;
  margin-top: 60px;
  font-family: 'Homemade Apple', cursive;
  font-weight: bolder;
  color: #005072;
}

.custom-background {
  background-image: url("./img/yosemite.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.image {
  border-radius: 30%;
  width: 400px;
  height:500px
}

.title {
  text-align: center;
  margin-top: 20px;
  font-family: 'Homemade Apple', cursive;
  font-weight: bolder;
  color: #005072;
}

.card-container {
  display: flex;
  justify-content: space-between;
  margin: 70px;
}

.card {
  display:"flex";
}

#cardOne {
  margin-top: 60px;
  margin-left: 50px;
  display: "flex"; 
}

#cardTwo {
  display:"flex";
}

.footer {
  height: 45px;
  background-color: #00BCEB;
  /* position: fixed; */
  display: flex;
  align-items: center;
  justify-content: center;
  top: 30px;
  margin-top: 200px;
}

.footer_text {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  color: white;
}

.authButton {
  margin-left: 200px;
}

.userInfo {
  width: 50px;
  display: flex;
  padding-left: 460px;
  margin-left: 200px;
}

.userImg {
  height: 40px;
}

.userName {
  padding-left: 10px;
  color: aliceblue;
}


.social_icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social_icons a {
  margin: 0 5px;
  color: rgb(41, 3, 3);
  font-size: 20px;
}

.social_icons a:hover {
  color: rgb(41, 3, 3);
}


.about-us-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h2 {
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

.selectedCity {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  padding-top: 10px;
}

#parkButton {
  background: #00BCEB;
  color: aliceblue;
  border: 2px solid #005072;
  border-radius: 3px;
  padding: 5px 10px;
  text-transform: uppercase;
}

h3 {
  padding-top: 15px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
}